*{
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

header img{
  margin-left: 20px;
}

header span{
  color: MediumAquamarine;
  margin-top: 8px;
  margin-left: 20px;
}

nav{
    margin-left: 1000px;
}

nav span{
  display: inline-block;
}

.container{
  display: inline-flex;
}

/*COLUMN 1 CSS*/
.large{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-left: 50px;
  margin-top: 40px;
  width: 600px;

}

.mainstory{
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.valleyp{
  margin: 20px 0;
}

.mainstory span{

}



.mainstory p{
  margin-top: 12px;
  margin-bottom: 12px;
}

.orca span{

}

.orca h2{
  font-size: 1.5em;
  margin: 30px 0;
}

.orca p{
  margin-bottom: 20px;
}

.fallpic{
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.burger{

}

.burger h1{
  font-size: 1.5em;
  margin-top: 12px;
  margin-bottom: 12px;
}

.burger p{
  margin: 20px 0px;
}

.hipster{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");

}
/*COLUMN 1 CSS*/

/*COLUMN 2 CSS*/
.medium{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;
  margin-top: 40px;
  margin-left: 100px;

}

.medium span{

}

.medium p{
  margin-top: 20px;
  margin-bottom: 20px;
}

.fbi h1{
  margin-top: 20px;
  font-size: 1.5em;
}

.cat{
  height: 300px;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
/*COLUMN 2 CSS*/

/*COLUMN 3 CSS*/
.small{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 40px;
  width: 240px;
  margin-left: 100px;

}

.newsbites{

}

.newsbites h3{
  margin: 10px 0px;
}
